.feynman__link {
  position:        absolute;
  right:           0;
  top:             50%;

  line-height:     51px;
  font-size:       36px;
  font-weight:     normal;
  color:           #2f80ed;
  text-decoration: none;
  transition:      ease-out .5s;
  }

.feynman__link:hover {
  opacity: .6;
  }
